body {
    background-color: #002e4d;
    color:white;
}

#navContainer {
    display:block;
}

button#openWalletModalButton, button#openExpenseModalButton {
    width: inherit;
    margin-top: 0.2rem;
    height: 3rem;
}

table {
    width: 100%;
    max-width: 100%;
}

tbody {
    display: block;
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#walletInfoTable > tbody {
    display:table;
    height: 0vh;
}

.modal-content{
    color: black;
}
