body {
    background-color: #002e4d;
    color:white;
}

#navContainer {
    display:block;
}


div#contentContainer {
    display: block;
    height: 100vh;
    max-height: 100vh;

}

button#openWalletModalButton, button#openExpenseModalButton {
    /* Mobile layout does not work for this screen */
    position:relative;
    top: 50vh;
    width: inherit;
    height: 5vh;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}


th {
    padding-right: 4vw;
}

.modal-content{
    color: black;
}
